# {{ ansible_managed }}
[DEFAULT]
bantime  = {{ fail2ban_bantime }}
findtime = {{ fail2ban_findtime }}
maxretry = {{ fail2ban_maxretry }}
backend  = systemd
# ntfy-Benachrichtigung bei jedem Ban (zusätzlich zur Standard-Action)
action = %(action_)s
         anvil-ntfy[name=%(__name__)s]

[sshd]
enabled  = true
port     = {{ ssh_port }}
