# {{ ansible_managed }}
# Anvil Account-Lockout (pam_faillock / CIS 5.3)
deny = {{ pam_faillock_deny }}
unlock_time = {{ pam_faillock_unlock_time }}
fail_interval = 900
# root ebenfalls sperren (Vorsicht: Konsolenzugang freihalten!)
even_deny_root
root_unlock_time = {{ pam_faillock_unlock_time }}
